.adminhome-container {
  width: 60%;
  margin: 60px auto;
}

.emptylist {
  text-align: center;
  margin: 50px;
}

td > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

td > div > span {
  margin-right: 10px;
}